[Unit]
Description=Run ansible-pull to apply environment configuration
After=network-online.target
 
[Service]
User=ansible
ExecStart=/home/ansible/auto_init/ansible-config.sh
Type=oneshot
 
[Install]
WantedBy=multi-user.target
